@font-face {
    font-family: gilroy-medium;
    src: url(./fonts/Gilroy-Medium.otf);
}

@font-face {
    font-family: gilroy-regular;
    src: url(./fonts/Gilroy-Regular.otf);
}

@font-face {
    font-family: monument;
    src: url(./fonts/monumentextended-regular.otf);
}

*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    
    width: 100%;
    min-height: 100vh;
    /* background-color: #1E2530; */
}
#section{
    display: flex;
    /* background-color: red; */
}

#main #nav{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 4vw;
    background-color: #1E2530;
}

#main #nav #nlft{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    width: 30vw;
    height: 4vw;
    background-color: #1E2530;
}
#nav #nlft a{
    padding: .3vw;
    font-size: .9vw;
    text-decoration: none;
    color: #fff;
    font-family: gilroy-medium;
    letter-spacing: .1vw;

}
#nav #nlft a:hover{
    border-bottom: .1px solid #fff;
}
#main #nav #nlft img{
    margin-left: 13%;
    width: 2.5vw;
}
#main #nav #nrgt{
    display: flex;
    justify-content: space-between;
    padding: 0vw 5vw;
    align-items:flex-end;
    width: 30vw;
    height: 4vw;
    background-color: #1E2530;
}
#main #nav #nrgt a{
    padding: .3vw;
    font-size: .9vw;
    text-decoration: none;
    color: #fff;
    font-family: gilroy-medium;
    letter-spacing: .1vw;
}
#nav #nrgt i{
    padding: .3vw;
    color: #fff;
    font-size: 1.4vw;
}
#nav #nrgt i:hover{
    border-bottom: .1vw solid #fff;
}
#main #nav #nrgt  a:hover{
    border-bottom: .1vw solid #fff;
}

#main #section #left{
    position: relative;
    border-top: 1px solid transparent;
    width: 50vw;
    height: 42.2vw;
    background-color: #1E2530;
} 

#left h1{
    margin-top: 7vw;
    letter-spacing: .2vw;
    margin-left: 4vw;
    font-size: 6vw;
    font-family: monument;
    background-image: linear-gradient(160deg, #80e1f5 0%, #3fb3ef 57%, #019ef3 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-filter: drop-shadow(5px 5px 2px 5px #000000);
      filter: drop-shadow(12px 12px 5px #0a0c0e);
}
#left hr{
    width: 2vw;
    margin-left: 4vw;
    background-color: #fff;
}
#left .line{
    background:#fff;
    width:50px;
    /* margin:50px; */
    position:relative;
    top:.2vw;
    transform-origin:top;
    transform: translate(0%, 0%) rotate(180deg);
    animation: grow 2s forwards;
}
@keyframes grow {
    from {
      width:0vw;
    }
    to {
      width:22vw;
    }
}
#left h4{
    position: absolute;
    right: 0vw;
    top: 13.7vw;
    font-size: 1vw;
    
    color: #fff;
    letter-spacing: .5vw;
    font-family:  the brands;
}
#left h5{
    position: absolute;
    right: 9.5vw;
    top: 13.7vw;
    font-size: 1vw;
    color: #fff;
    font-weight: 400;
    letter-spacing: .1vw;
    font-family:  Montserrat;
}
#left #stand{
    position: relative;
    margin-top: 22vw;
    width: 40vw;
    height: 6vw;
    background-image:  linear-gradient(160deg, #80e1f5 0%, #3fb3ef 57%, #019ef3 100%);
    border-top-right-radius: 50vw;
}

/* #stand #card{
    position: absolute;
    top: -17vw;
    left: 4vw;
    width: 15vw;
    height: 20vw;
    background-color:#25313F;
    border-top-right-radius:1vw;
    border-top-left-radius: 12vw;
} */

#stand #card {
    position: absolute;
    top: -17vw;
    left: 4vw;
    width: 15vw;
    height: 18vw;
    box-sizing: content-box;
    padding-top: 15px;
    position: relative;
    background:#25313F ;
    color: white;
    font-size: 11px;
    background-color: #25313f;
    background-image: linear-gradient(0deg, #25313f 7%, #2284cc 72%, #5cbaff 99%);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    letter-spacing: 0.2em;
    border-top-left-radius: 0vw;
    border-top-right-radius: 0vw;
    text-align: center;
    text-transform: uppercase;
}
#card:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 8vw;
    height: 5vw;
    border-bottom: .5vw solid #eee;
    border-left: 3.5vw solid transparent;
    border-right: 3.5vw solid transparent;}
#stand #card2 {
    position: absolute;
    top: -36vw;
    left: 22vw;
    width: 15vw;
    height: 18vw;
    box-sizing: content-box;
    padding-top: 15px;
    position: relative;
    background:#25313F ;
    color: white;
    font-size: 11px;
    letter-spacing: 0.2em;
    background-color: #25313f;
    background-image: linear-gradient(0deg, #25313f 7%, #2284cc 72%, #5cbaff 99%);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    border-top-left-radius: 0vw;
    border-top-right-radius: 0vw;
    text-align: center;
    text-transform: uppercase;
}
#card2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 8vw;
    height: 5vw;
    border-bottom: .5vw solid #eee;
    border-left: 3.5vw solid transparent;
    border-right: 3.5vw solid transparent;
}
#stand button{
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top:-10vw;
      left: 42vw;
      width: 4vw;
      height: 3vw;
      font-size: 1.5vw;
      color: #fff;
      background-color: #25313f;
      border: none;
      border-radius: 2vw;
}
#stand button:hover{
    color: #000;
    background-image: linear-gradient(347deg, #25313f 0%, #2284cc 53%, #5cbaff 97%);
    -webkit-filter: drop-shadow(5px 5px 5px 5px #000000);
    filter: drop-shadow(5px 5px 20px #0a0a0a7e);
}
#stand #dets{
      position: absolute;
      bottom: .5vw;
      left: 2vw;
      width: 20vw;
        /* background-color: #000; */

}
#stand #dets a{
    font-family: gilroy-medium;
    color: #000;
    font-weight: 600;
    margin-left: 2vw;
    text-decoration: none;
}

#card #image img{
      width: 15vw;
      margin-top:3vw;
      -webkit-filter: drop-shadow(5px 5px 5px 5px #222222);
      filter: drop-shadow(15px 15px 10px #272727);
}

#card2 #image img{
    width: 18vw;
    margin-top:2vw;
    margin-left: -1vw;
    -webkit-filter: drop-shadow(5px 5px 5px 5px #222222);
    filter: drop-shadow(15px 15px 10px #272727);
}

#card .text{
    width: 15vw;
    height: 5vw;
    /* background-color: rgb(250, 12, 12); */
}
#card .text h3{
    color: #fff;
    font-family: monument;

}
#card .text p{
    font-family: gilroy-medium;

    font-size: .6vw;
    margin-top: .5vw;
    margin-bottom: 1vw;
}

#card .text a{
    text-decoration: none;
    color: #fff;
    font-family: gilroy-medium;

}

#card2 .text{
    margin-top: .5vw;
    width: 15vw;
    height: 5vw;
    /* background-color: rgb(250, 12, 12); */
}
#card2 .text h3{
    color: #fff;
    font-family: monument;

}
#card2 .text p{
    font-family: gilroy-medium;

    font-size: .6vw;
    margin-top: .5vw;
    margin-bottom: 1vw;
}

#card2 .text a{
    text-decoration: none;
    color: #fff;
    font-family: gilroy-medium;

}


#main #right{
      position: relative;
    border-top: 1px solid transparent;
    width: 50vw;
    height: 42.2vw;
    background-color: #1E2530;
} 
#right img{
    position: absolute;
    right: 2.5vw;
    width: 35vw;
    -webkit-filter: drop-shadow(5px 5px 5px 5px #5c5959);
      filter: drop-shadow(15px 15px 12px #000000f5);
}

#right #featuresect{
    position: absolute;
    bottom: 0;
    right: 0;
    /* padding: 2vw; */
    width: 40vw;
    height: 18vw;
  /* background-color: red; */
}
#right #featuresect h1{
    text-align: center;
    font-family: monument;

    font-weight: 900;
    font-size: 2.5vw;
    letter-spacing: .5vw;
}
#right #featuresect #th1{
    background-image: linear-gradient(160deg, #80e1f5 0%, #3fb3ef 57%, #019ef3 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-filter: drop-shadow(5px 5px 5px 5px #5c5959);
      filter: drop-shadow(15px 15px 12px #000000f5);
}

#right #featuresect #th2{
    /* color: transparent; */
    background: -webkit-linear-gradient(160deg, #80e1f5 0%, #3fb3ef 57%, #019ef3 100%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #1E2530;
    -webkit-filter: drop-shadow(5px 5px 5px 5px #5c5959);
    filter: drop-shadow(15px 15px 12px #000000f5);
}

#featuresect #section{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 40vw;
    height: 8vw;
    /* background-color: #fff; */
}

#featuresect #section .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height: 3vw;
    border-radius: 2vw;
    background-color: #25313f;
    font-size: 1.5vw;
    color: #fff;
    -webkit-filter: drop-shadow(5px 5px 5px 5px #5c5959);
    filter: drop-shadow(5px 5px 25px #000000d2);
}

#featuresect #section .button:hover{
    width: 4.5vw;
    height: 3.5vw;
    transform: scale(1);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
    color: #000;
    background-image: linear-gradient(347deg, #25313f 0%, #2284cc 53%, #5cbaff 97%);
    -webkit-filter: drop-shadow(5px 5px 5px 5px #000000);
    filter: drop-shadow(5px 5px 20px #0a0a0a7e);
    font-size: 2vw;
    color: #000;
}

#featuresect a{
    text-decoration: none;
    color: #fff;
    position: absolute;
    right: 3vw;
    bottom: .5vw;
    margin-right: 1vw;
    font-family: gilroy-medium;

}
